@using SawyerSight.Models.ViewModel;
@using SawyerSight.Web.Models;
@using SawyerSight.Models.DAL;
@{
    /**/

    var context = (SawyerSight.Web.Models.ViewModel.WaterfallContext)Session["WaterfallContext"];
    if (context.SelectedOrganizations.VisibleUncheckedNodes==null)
    {
        context.SelectedOrganizations.VisibleUncheckedNodes = new List<string>();
    }
    context.SelectedOrganizations.VisibleUncheckedNodes.RemoveAll(x => x == "");
    if(context.SelectedOrganizations.CheckedNodes==null)
    {
        context.SelectedOrganizations.CheckedNodes = new List<string>();
    }
    context.SelectedOrganizations.CheckedNodes.RemoveAll(x => x == "");
    ViewBag.Title = "Select Organizations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("SelectOrganizations", "Waterfall", FormMethod.Post, new { @style = "width:100%;" }))
{
<div class="row" id="boxesDiv">
    @Html.Partial("/Views/Shared/_ClientProjectCards.cshtml")
    <div class="col-md-4 -align-text-bottom">
        <div class="card flex-row card-height">
            <div class="card-header cardheader cardheader-padding">
                <i class="fas fa-list-ul fa-2x"></i>
            </div>
            <div class="card-body invitations-info">
                <div>
                    <p class="card-text project-card-label">Select individual <b>Organizations</b> or</p>
                </div>
                <select class="form-control form-control-ddl-padding" id="cmbSelectOrganizations">
                    <option></option>
                    <option value="Clear">Clear All</option>
                    <option value="All">All Organizations</option>
                    <option value="Active">All Active Organizations</option>
                    <option value="Inactive">All Inactive Organizations</option>
                </select>
            </div>
         </div>
    </div>
</div>
    <br />
    <div class="row">
        <script id="cbx-template" type="text/x-kendo-template">
            <div style="text-align:center">
                <input type="checkbox" id="cbx#=Value.Id#" name="chxOrgs" class="regular-checkbox big-checkbox checkItem" data-bind="checked: checked" activeFlag="#=Value.ActiveFlag#" parentId="#=Value.ParentId#" value="#=Value.Id#" onclick="SelectMyChildren('#=Value.Id#', true)" onchange="LogAction('#=Value.Id#');">
                <label for="checkbox-2-1"></label>
            </div>
        </script>
        @(Html.Kendo().TreeList<TreeEntity<Organization>>()
                                                                                                .Name("treelist")
                                                                                                .Columns(columns =>
                                                                                                {
                                                                                                    columns.Add().Field(e => e.Value.Id).Width(280).Title("ORG ID");
                                                                                                    columns.Add().Field(e => e.Value.Name).Width(280).Title("ORGANIZATION NAME");
                                                                                                    columns.Add().Field(e => e.Value.ActiveFlag).Width(60).Title("ACTIVE");
                                                                                                    columns.Add().Width(60).Title("SELECT").TemplateId("cbx-template");
                                                                                                })
                                                                                        .DataSource(dataSource => dataSource
                                                                                            .Read(read => read.Action("OrganizationsTree_Read", "Waterfall"))
                                                                                            .Model(m =>
                                                                                            {
                                                                                                m.Id(f => f.Id);
                                                                                                m.ParentId(f => f.ParentId).DefaultValue(null);
                                                                                                m.Field(f => f.Value.Id);
                                                                                                m.Field(f => f.Value.ParentId);
                                                                                            })
                                                                                            )
                                                                                            .Events(events => { events.DataBound("onTreeDataBound"); events.Expand("onTreeExpand"); })
                                                                               
        )
    </div>
    <br />

    <div class="form-group row center-elements">
        <input type="hidden" id="hiddenActionLoggerChecked" name="hiddenActionLoggerChecked" value="@string.Join(",",context.SelectedOrganizations.CheckedNodes)"/>
        <input type="hidden" id="hiddenActionLoggerUnChecked" name="hiddenActionLoggerUnChecked" value="@string.Join(",",context.SelectedOrganizations.VisibleUncheckedNodes)"/>
        <input type="hidden" id="selectAllActive" name="selectAllActive" value="@context.SelectedOrganizations.SelectAllActive.ToString().ToLower()"/>
        <input type="hidden" id="selectAllInactive" name="selectAllInactive" value="@context.SelectedOrganizations.SelectAllInactive.ToString().ToLower()"/>
        <button type="submit" class="btn btn-lg red-button"><small>SAVE SELECTIONS AND CONTINUE  <i class="fas fa-arrow-right"></i></small></button>
        <br />
    </div>
    <div class="form-group row center-elements">
        <a href="@Url.Action("SelectClient")" class="btn btn-lg gray-button"><small>CANCEL THIS REQUEST AND EXIT</small></a>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#cmbSelectOrganizations").on("change", function () {
            var value = $(this).val();
            CheckByValueAndType(value, 'chxOrgs');
        });
        ProcessLoadedContext();
    });
</script>